// colors and theming
$theme-colors: (
  "primary": #354ca1,
  "secondary": #262626,
  "muted": #EAEAEA
);


@import "../bootstrap/scss/bootstrap";

// typography
@mixin plantin {
  font-family: plantin, georgia, serif;
}

.plantin {
  @include plantin;
}

@mixin trade-gothic {
  font-family: trade-gothic-next, arial, sans-serif;
}

.trade-gothic {
  @include trade-gothic;
}

body {
  @include trade-gothic;
}

h1,
h2 {
    @include plantin;
    font-weight: 500;
}

h2 {
  margin-top: 2rem;
}

h3, 
h4,
h5 {
  margin-top: 1.5rem;
  @include trade-gothic;
}

// colors
$bridwell-brand-color: #354ca1;
$bridwell-accent-color: #262626;

$bridwell-accent-link: #3366cc;

$bridwell-grey-1: #e5e5e5;
$bridwell-grey-2: #d5d6d2;
$bridwell-grey-3: #989c97;
$bridwell-grey-4: #655a52;

$bridwell-white: #fff;
$bridwell-black-80: #342f2e;

*:focus {
	/* inner indicator */
	outline: 2px #F9F9F9 solid !important;
	outline-offset: 0;
	/* outer indicator */
	box-shadow: 0 0 0 4px #193146 !important;
  -webkit-transition: outline .05s ease-out;
  -o-transition: outline .05s ease-out;
  transition: outline .05s ease-out;
}


// links
p {
  a {
  text-decoration: underline;
  }
}

// buttons
.btn {
  @include trade-gothic;
}


// navigation
.navbar {
  @include trade-gothic;
  background-color: $bridwell-brand-color;
  color: $bridwell-white;

  .navbar-brand-logo {
    vertical-align: middle;
  }

}

// page
.page-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

// cards

.card {
  border-radius: 0;

  picture,
  source {
    line-height: 0;
  };
}


// home
.books-container {
  padding: 3rem 0;

  .book-card-list {
    justify-content: space-evenly;
  }

  .book-card-covers-only-list {
    
  }
  
  // home - books
  .book-card {
    max-width: 540px;

    h3 {
      font-size: 1.25rem;
      margin-top: 0;
    }

    .card-img {
      border-radius: 0;
      /* max-height: 300px; */
    }

    .card-text {
      font-size: .9rem;
    }

    .cover-only-img {
      min-width: 200px;
    }
  }
}

// home - tagline and catalog container
.tagline-catalog-container {
  background-color: $bridwell-accent-color;
  padding: 4rem 0;
  border-top: 1px solid rgba(0,0,0,.125);

  .tagline {
    @include plantin;
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: 1.5em;
  }

  .calltoaction-wrapper {
    color: $bridwell-white;
  }
}

// home - catalog
.catalog-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  figure {
    display: flex;
    justify-content: center;
  }

}
.catalog-image {
  width: 95px;
}

// home - for authors/for libraries, impact report
.author-library-container {
  padding: 1.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-top: 1px solid rgba(0,0,0,.125);

  .author-container, .newsletter-container, .library-container {
    margin: 15px 0;
  }

}

.video-impact-container {
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-color: #f8f9fa;
}

.news-events-container, .video-impact-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  h2 {
    margin-bottom: 1rem;
  }
}

// video
.video-embed {
  margin-bottom: 1rem;
}

// news and events on homepage and individual pages
.post-image {
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 2em;
  margin-top: 2em;
}

.news {
  p {
    line-height: 1.7;
  }
}

.news-item .main {
  @include plantin;
  line-height: 1.7;
  font-size: 1.1rem;
}

.summary {

    p {
      font-size: 1.5rem;
      margin-bottom: 1em;
      @include trade-gothic;
      line-height: 1.5;
    }

    time {
      font-size: .9em;
      margin-top: .2em !important;
    }
}

.blog-card-container {

  a:hover {
    text-decoration: none;
  }

  .card:hover {
    border: 1px solid $bridwell-brand-color;
  }

  .card-image {
    max-height: 300px;
    overflow: hidden;
  }
}

.event-card-container {
  h3 {
    font-size: 1.25rem;
  }
}

// join

.join-us {
  padding-top: 0;

  img {
    margin-bottom: 2rem;
  }

}

.join-us h2 {
  margin-top: 1rem;
}

.jumbotron {
  background-color: $bridwell-brand-color;
  margin-bottom: 4rem;
}

.featurette-divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.join-jumbo {
  h1, p {
    color: #f8f9fa;
  }
  p.join-tag {
    color: $bridwell-accent-color;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

.intro {
  text-transform: uppercase;
  font-size: 1.4rem;
}

thead {
  background-color: $bridwell-brand-color;
  color: #f8f9fa;
}

.join-h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
}

ol.join {
  font-size: 1.25rem;
}

.cta-bottom {
  padding-top: 4em;
}

// impact
.map {
  height: 60%;
}

.map-container a:hover {
  text-decoration: none;
  img {
    filter: grayscale(80%);
    filter: contrast(50%);
  }
}

p.social {
  padding-top: .4em;
  a {
    padding-right: 0.75em;
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: $bridwell-brand-color;
    }
  }
  a:first-of-type {
    padding-left: 1em;
  }
}

// footer
.footer {
  background-color: $bridwell-brand-color;
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 3rem 0;

  .logo {
    margin: 0 0 0 -10px;
    padding: 0;
    img {
      width: 180px;
    }
  }

  .primary-logo {
    border-bottom: 2px solid #59C3C3;
    width: 41%;
    margin-bottom: 10px;
  }
  
  .fulcrum {
    vertical-align: baseline;
  }

  .block {
    display: block;
  }

  p.social {
    padding-top: .4em;
    a {
      padding-right: 0.75em;
      svg {
        display: inline-block;
        vertical-align: middle;
        fill: $bridwell-accent-link;
      }
    }
    a:first-of-type {
      padding-left: 0;
    }
  }

  .footer-head {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
  }

}


